<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end end" style="padding: 20px;margin: 10px;">
    <button routerLink="/app/dashboard" mat-raised-button>Back</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card style="width:60%;">
      <div class="heading">
        <h1>Forget Password</h1>
      </div>
      <form [formGroup]="forgetForm" *ngIf="forgetForm" fxLayout="column"  fxFlex="100%">
        <div fxLayout="row" fxFlex="90%" fxLayoutAlign.lt-md="center center">
          <mat-form-field appearance="outline" fxFlex="100%" fxFlex.lt-md="80%">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="forgetForm?.get('password')?.hasError('required')">
              This field is required !!!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="90%" fxLayoutAlign.lt-md="center center">
          <mat-form-field appearance="outline" fxFlex="100%" fxFlex.lt-md="80%">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" (change)="OnChange()">
            <mat-error *ngIf="forgetForm?.get('confirmPassword')?.hasError('required')">
              This field is required !!!
            </mat-error>
            <mat-error *ngIf="forgetForm?.get('confirmPassword')?.errors?.['passwordMismatch']">
            This ConfirmPassword Not Match
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%" style="margin: 20px 0px;">
          <button mat-raised-button color="warn" (click)="OnCancel()">Cancel</button>
          <button mat-raised-button color="primary" (click)="OnSubmit()">Save</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

