* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
  background-color: red;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
  background-color: red;
}

.heading h1 {
  color: #292525;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

mat-card {
  margin: 30px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
  height: 100vh;
  max-width: 100%;
  background-color: red;
}
.box{
  height: 100px;
  width: 100px;
  background-color: red;
}