<div fxLayout="column" fxLayoutAlign="center center"  class="social-content">
  <div class="social-header-text">
    <h1>Who Can Benefit from Renderforest’s Animation Maker</h1>
  </div>
  <div fxLayout="row" class="social-card" fxLayoutAlign="center center">
    <div class="social-media-card" fxLayout="column" >
      <h3 class="social-header">Social Media Specialists</h3>
      <p class="social-desc">Drive engagement and expand reach on social media platforms like Instagram, Facebook, and TikTok. Our animation tool allows social media specialists to create eye-catching animated videos that stop users from scrolling and encourage them to engage with the content.</p>
    </div>
    <div class="social-media-card" fxLayout="column">
      <h3 class="social-header">Social Media Users</h3>
      <p class="social-desc">From promoting your page to sharing personal content, our tool helps you create eye-catching animations that stand out in a crowded feed. Stand out from the competition and make an impact with animations that improve your social media presence and entertain your audience.</p>
    </div>
    <div class="social-media-card" fxLayout="column">
      <h3 class="social-header">Marketers</h3>
      <p class="social-desc">Level up your marketing game by creating compelling campaigns that engage viewers and convey messages. Using our free Animation Maker online, marketers can create animations that grab attention, communicate key messages, and impress their target audience.</p>
    </div>
    <div class="social-media-card" fxLayout="column">
      <h3 class="social-header">Small Business Owners</h3>
      <p class="social-desc">Produce polished social media posts, website content, and marketing materials that attract and retain customers. Our platform offers a cost-effective solution for small businesses looking to boost their online presence and create visuals that drive engagement.</p>
    </div>
    <div class="social-media-card" fxLayout="column">
      <h3 class="social-header">Content Creators</h3>
      <p class="social-desc">Make your content stand out with animations that add a professional touch and build a strong brand identity. Whether you're creating tutorials, reviews, or entertainment content, the animated video maker helps you leave a lasting impression.</p>
    </div>
  </div>
</div>