<div fxLayout="column" fxLayoutAlign="center center" style="background-color: #F9FBFE;">
  <div fxLayout="row" fxLayoutAlign="center center" style="padding: 50px;" class="grow-card-content">
    <div class="grow-card1" fxLayout="column" fxLayoutAlign="center center">
          <div class="card1-content card-icon-animation" >
            <mat-icon fxLayoutAlign="center center">person_outline</mat-icon>
          </div>
          <p class="card-count">{{employeeCount}}</p>
          <p class="card-desc">Clients Served</p>
    </div>
    <div class="grow-card2" fxLayout="column" fxLayoutAlign="center center">
      <div class="card2-content card-icon-animation" >
        <mat-icon fxLayoutAlign="center center">search</mat-icon>
      </div>
      <p class="card-count">50 Million</p>
      <p class="card-desc">Project Created</p>
    </div>
    <div class="grow-card3" fxLayout="column" fxLayoutAlign="center center">
      <div class="card3-content card-icon-animation" >
        <mat-icon fxLayoutAlign="center center">star_border</mat-icon>
      </div>
      <p class="card-count">5000+</p>
      <p class="card-desc">positive reviews</p>
    </div>
  </div>
  <app-social-media-content></app-social-media-content>
  </div>
  <div class="create-account-content" [ngClass]="{'show-scroll': showScroll}">
    <div fxLayoutAlign="center center" >
      <div class="create-account" fxLayout="row">
        <p class="create-account-add">+ </p>
        <p class="create-account-text">&nbsp;&nbsp;Create an account</p>
      </div>
  </div>
  </div>



